@import url('https://fonts.googleapis.com/css?family=Ovo');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body {
	margin: 0;
	background-color: #010B1C;
	height: 100%;
	color: rgb(255, 72, 0);
	font-family: 'Special Elite', cursive;
	
}

.grid {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-gap: .5em;
}

#form-section {
	padding: 15px;
	width: 100%;
	font-size: 1.5em;
	font-weight: 100;
	margin-top: 0;
}

#map {
	width: 100%;
	height: 100%;
}

#form input  {
	background-color: #7C7C7C;
	border-radius: 2px;
	border: 1px solid #7C7C7C;
	height: 30px;
	font-size: 1em;
	color: #000;
	width: 80%;
	margin-bottom: 10px;
	margin-top: 5px;
	font-family: 'Special Elite', cursive;
}

#form textarea {
	background-color: #7C7C7C;
	border-radius: 2px;
	border: 1px solid #7C7C7C;
	height: 30px;
	font-size: 1em;
	color: #fff;
	width: 80%;
	height: 50px;
	font-family: 'Special Elite', cursive;
}

button {
	margin-top: 5px;
	background-color:  rgb(255, 72, 0);
	border-radius: 2px;
	border: 1px solid #D8D8D8;
	height: 50px;
	width: 80%;
	font-family: 'Special Elite', cursive;
	color: #010B1C;
	font-size: 1em;
	font-weight: 100;
}

button:hover {
	background-color: #181D28;
	border: 1px solid #181D28;
	color: #fff;
 	cursor: pointer; cursor: hand;
 }

 .container{
	text-align: center;
	font-family: 'Ovo', serif;
	
	color: #010B1C;
	
 }

 .picture{
	height: 120px;
	width: 100px;
 }